# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.lock
*.tmp
*.bak

# VS Code
.vscode/
MDK-ARM/.vscode/

# Keil user-specific files
*.uvguix.*
*.uvoptx

# Build outputs
*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.lnp
*.dep
*.iex
*.htm

# MDK generated output directory
MDK-ARM/STM32G473CBT6_test/
